<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Meta creada exitosamente!</h1>
<p>Hola <%= @user.nombre %>,</p>
<p>Se ha creado una nueva meta titulada "<%= @meta.nombre %>" en el proyecto "<%= @proyecto.nombre %>".</p>
<p>¡Felicidades por el logro!</p>
<p>Saludos,</p>
<p>El equipo de tu aplicación</p>
</body>
</html>