<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Se ha creado una nueva meta para el líder!</h1>
<p>Hola <%= @lider.nombre %>,</p>
<p>Se ha creado una nueva meta en el proyecto "<%= @meta.proyecto.nombre %>".</p>
<p>Asegúrate de revisar y coordinar las actividades relacionadas con la meta.</p>
<p>Saludos,</p>
<p>El equipo de tu aplicación</p>
</body>
</html>