<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Meta Vencida!</h1>
<p>Hola <%= @lider.nombre %>,</p>
<p>Te informamos que la meta "<%= @meta.nombre %>" del proyecto "<%= @meta.proyecto.nombre %>" ha vencido. Por favor, toma las acciones necesarias para dar seguimiento a esta meta.</p>
<p>¡Gracias!</p>
</body>
</html>