<!DOCTYPE html>
<html>
<body>
<h1>¡Meta finalizada!</h1>
<p>Estimado <%= @usuario.nombre %>,</p>
<p>La meta "<%= @meta.nombre %>" del proyecto "<%= @meta.proyecto.nombre %>" ha sido marcada como finalizada.</p>
<p>¡Felicitaciones por el logro!</p>
<p>Saludos,</p>
<p>Tu equipo de trabajo</p>
</body>
</html>