<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recordatorio: Meta vence pronto</title>
</head>

<body>
<h2>¡Recordatorio!</h2>
<p>Hola <%= @lider.nombre %>,</p>
<p>Este es un recordatorio amistoso de que la meta "<%= @meta.nombre %>" en el proyecto "<%= @meta.proyecto.nombre %>" está a punto de vencer. Por favor, tómate un momento para revisar los avances y asegurarte de que todo esté en orden.</p>
<p>¡No dejes que el tiempo se te escape!</p>
<p>Saludos,</p>
<p>Tu Equipo de Gestión de Metas</p>
</body>

</html>
