<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Meta completada!</h1>
<p>Estimado líder,</p>
<p>La meta <%= @meta.nombre %> ha sido marcada como completada.</p>
<p>La misma queda a la espera de tu revisión para marcarla como finalizada o para agregarle más tareas.</p>
<p>Atentamente,</p>
<p>Tu equipo</p>
</body>
</html>