<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Meta creada exitosamente!</h1>
<p>Hola <%= @gerente.nombre %>,</p>
<p>Has creado una nueva meta titulada "<%= @meta.nombre %>" en el proyecto "<%= @meta.proyecto.nombre %>".</p>
<p>Asegúrate de revisar y supervisar el progreso de la meta.</p>
<p>Saludos,</p>
<p>El equipo de tu aplicación</p>
</body>
</html>