<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Proyecto Vencido!</h1>
<p>Hola <%= @gerente.nombre %>,</p>
<p>Te informamos que el proyecto <%= @proyecto.nombre %> ha vencido. Se ha marcado como vencido en nuestro sistema.</p>
<p>Por favor, toma las acciones necesarias para dar seguimiento a este proyecto o realizar las tareas correspondientes.</p>
<p>¡Gracias!</p>
</body>
</html>