<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Project Created Successfully</h1>
<p>Dear <%= @user.nombre %>,</p>
<p>Your project <%= @project.nombre %> has been created successfully.</p>
<p>Thank you for using our application.</p>
</body>
</html>