<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Proyecto asignado a ti</h1>
<p>Hola <%= @lider.nombre %>,</p>
<p>Te han asignado un nuevo proyecto:</p>
<ul>
  <li>Nombre: <%= @proyecto.nombre %></li>
  <li>Descripción: <%= @proyecto.descripcion %></li>
  <li>Fecha límite: <%= @proyecto.fecha_vencimiento %></li>
</ul>
<p>Por favor, inicia sesión en tu cuenta para obtener más detalles.</p>
<p>¡Gracias!</p>
</body>
</html>