<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Proyecto creado exitosamente</h1>
<p>Estimado <%= @gerente.nombre %>,</p>
<p>Tu proyecto "<%= @proyecto.nombre %>" ha sido creado exitosamente.</p>
<p>Gracias por utilizar nuestra aplicación.</p>
</body>
</html>