<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>¡El proyecto vence hoy!</h1>
  <p>Hola <%= @user.nombre %>,</p>
  <p>Te informamos que el proyecto <%= @project.nombre %> vence hoy. ¡No olvides completar todas las tareas y metas pendientes a tiempo!</p>
  <p>¡Buena suerte!</p>
</body>
</html>