<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡El proyecto vence pronto!</h1>
<p>Hola <%= @user.nombre %>,</p>
<p>Te informamos que el proyecto <%= @project.nombre %> vence pronto. Asegúrate de realizar los avances necesarios para cumplir con la fecha de vencimiento.</p>
<p>¡Buena suerte!</p>
</body>
</html>