<!DOCTYPE html>
<html>
<body>
<h1>¡Proyecto finalizado!</h1>
<p>Estimado <%= @usuario.nombre %>,</p>
<p>El proyecto "<%= @proyecto.nombre %>" ha sido marcado como finalizado.</p>
<p>¡Felicitaciones por la finalización exitosa del proyecto!</p>
<p>Saludos,</p>
<p>Tu equipo de trabajo</p>
</body>
</html>