<!DOCTYPE html>
<html>
<body>
<h1>¡Proyecto completado!</h1>
<p>Estimado gerente,</p>
<p>El proyecto "<%= @proyecto.nombre %>" ha sido marcado como completado.</p>
<p>La misma queda a la espera de tu revisión para marcarla como finalizada o para agregarle más metas.</p>
<p>Saludos,</p>
<p>Tu equipo de trabajo</p>
</body>
</html>