<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Cambio de rol</h1>
<p>Estimado <%= @usuario.nombre %>,</p>
<p>Te informamos que has sido reasignado al rol de integrante.</p>
<p>Estate atento a próximas tareas asignadas para que las realices.</p>
<p>Atentamente,</p>
<p>Tu equipo</p>
</body>
</html>