<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Has creado una nueva tarea!</h1>
<p>Hola <%= @lider.nombre %>,</p>
<p>La nueva tarea titulada "<%= @tarea.nombre %>" en la meta "<%= @tarea.meta.nombre %>" del proyecto "<%= @tarea.meta.proyecto.nombre %>" se ha creado correctamente.</p>
<p>¡Revisa la tarea y proporciona tus comentarios y aprobación según corresponda!</p>
<p>Saludos,</p>
<p>El equipo de tu aplicación</p>
</body>
</html>