<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>¡Hoy vence tu tarea!</title>
</head>

<body>
<h2>¡Importante!</h2>
<p>Hola <%= @usuario.nombre %>,</p>
<p>Te recordamos que hoy es el último día para completar la tarea "<%= @tarea.nombre %>". Esperamos que hayas progresado y si no, te animamos a hacer tu mejor esfuerzo para finalizarla.</p>
<p>¡No dejes las cosas para el último momento!</p>
<p>Saludos,</p>
<p>Tu Equipo de Gestión de Tareas</p>
</body>

</html>