<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>¡Nueva tarea creada!</h1>
<p>Hola <%= @usuario.nombre %>,</p>
<p>Se ha creado una nueva tarea titulada "<%= @tarea.nombre %>" en la meta "<%= @meta.nombre %>" del proyecto "<%= @proyecto.nombre %>".</p>
<p>¡Comienza a trabajar en ella cuanto antes!</p>
<p>Saludos,</p>
<p>El equipo de tu aplicación</p>
</body>
</html>