<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<h1>Tarea devuelta a pendiente</h1>
<p>Hola <%= @revisor.nombre %>,</p>
<p>Has devuelto la tarea <%= @tarea.nombre %> a estado <%= @tarea.estado %>.</p>
<p>La misma deberá ser vuelta a hacer por el integrante.</p>
<p>Saludos,</p>
<p>Tu Equipo</p>
</body>
</html>