<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recordatorio: Tarea vence pronto</title>
</head>

<body>
<h2>¡Recordatorio!</h2>
<p>Hola <%= @usuario.nombre %>,</p>
<p>Este es un recordatorio amistoso de que la tarea "<%= @tarea.nombre %>" está a punto de vencer. Asegúrate de completarla a tiempo y evitar cualquier retraso.</p>
<p>¡No dejes que se te acumulen las tareas!</p>
<p>Saludos,</p>
<p>Tu Equipo de Gestión de Tareas</p>
</body>

</html>