<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenido a ejemplo.com, <%= @usuario.nombre %></h1>
<p>
  Te has registrado correctamente en maniax.com,
  tu nombre de usuario es: <%= @usuario.apellido %>.<br>
</p>
<p>
  Para iniciar sesión en el sitio, simplemente sigue este enlace: <%= @url %>.
</p>
<p>¡Gracias por unirte y que tengas un excelente día!</p>
</body>
</html>