					<div style="width: 90%;display: flex;margin: auto;justify-content: center;">

                        <div style="width:15%; margin-left: -12px">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>       
                            <p>Progreso: <%= progress%>%</p>
                        </div>
                    </div>