					<div style="display: flex;margin: auto;justify-content: left;">

                        <div style="width:25vh; margin-left: -12px">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>       
                            <p>Progreso: <%= progress%>%</p>
                        </div>
                    </div>