	<h1>Usuarios: </h1>

	<% if @usuarios == nil || @usuarios.size == 0%>

	<h3>Sin usuarios</h3>

	<% else %>
	<% @usuarios.each do |usuario| %>
	<div style="background-color: #e9e9e9">
		<p>nombre: <%= usuario.nombre%></p>
		<p>id: <%= usuario.id%></p>
		<p>tipo: <%= usuario.usuario_tipo%></p>
		<p>email: <%= usuario.email%></p>

	</div>

	<% end %>
	<% end %>