<% content_for :title do %>
  <title>Home <%= @usuario.nombre%></title>

<% end %>


<h1>Mis Proyectos</h1>

<% if @usuario.esGerente %>
<%= link_to 'Crear Proyecto', new_proyecto_path, class: "btn btn-primary"  %>
<% end %>

<% if @proyectos == nil || @proyectos.size == 0%>
  <h3>No participas de ningún proyecto</h3>
<% else %>
  <% @proyectos.each do |proyectoParams| %>
  <%= render partial: "stats/proyecto", locals: proyectoParams %>
  <% end %>
<% end %>