
<h1> Home de : <%= @usuario.nombre %></h1>

<%= link_to 'Crear Proyecto', new_proyecto_path %>

<div>

	<h1>Proyectos: </h1>

	<% if @proyectos == nil || @proyectos.size == 0%>

	<h3>Sin proyectos</h3>

	<% else %>
	<% @proyectos.each do |proyecto| %>

	<%= render template: "proyectos/item", locals: {:proyecto => proyecto}%>

	<% end %>
	<% end %>
</div>