
<h1> Home de : <%= @usuario.nombre %></h1>

<div>
	<h1>Proyectos Asignados: </h1>

	<% if @proyectos == nil || @proyectos.size == 0%>

	<h3>No fuiste asignado a nigun proyecto</h3>

	<% else %>
	<% @proyectos.each do |proyecto| %>

	<%= render template: "proyectos/item", locals: {:proyecto => proyecto}%>

	<% end %>
	<% end %>
</div>